<h1>Add an album:</h1>

<div class="add_album">
  <form action="/success" method="post">
    <label for="new_title">Album Title:</label>
    <input id="new_title" name="new_title" type="text">

    <label for="new_artist">Album Artist:</label>
    <input id="new_artist" name="new_artist" type="text">


    <button id="add" type="submit">Add Album!</button>
  </form>
</div>
